<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - IE Project</title>
    @*@Styles.Render("~/Content/css")*@
    <link rel="stylesheet" href="~/Content/style.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Work+Sans:300,400,700" rel="stylesheet">
    <!--<link rel="stylesheet" href="fonts/icomoon/style.css">-->

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Content/animate.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <header class="header-area">
        @*<div class="search-form d-flex align-items-center">
                <div class="container">
                    <form action="index.html" method="get">
                        <input type="search" name="search-form-input" id="searchFormInput" placeholder="Type your keyword ...">
                        <button type="submit"><i class="icon_search"></i></button>
                    </form>
                </div>
            </div>

            <div class="top-header-area">
                <div class="container">
                    <div class="row">

                        <div class="col-6">
                            <div class="top-header-content">
                                <a href="#"><i class="icon_phone"></i> <span>(61) 415707891</span></a>
                                <a href="#"><i class="icon_mail"></i> <span>bliu0006@student.monash.edu</span></a>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="top-header-content">
                                <div class="top-social-area ml-auto">
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>*@
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <nav class="classy-navbar justify-content-between" id="robertoNav">

                        <a class="nav-brand" href="@Url.Action("Index","Home")"><img src="~/images/img_logo.png" style="max-width:100px;max-height:100px" alt=""></a>

                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <div class="classy-menu">
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            <div class="classynav">
                                <ul id="nav">
                                    <li class="active"><a href=@Url.Action("Index","Home")>Home</a></li>
                                    <li><a href=@Url.Action("Place","Home")>Housing</a></li>
                                    <li><a href=@Url.Action("Place","Home")>About Us</a></li>
                                    <li><a href=@Url.Action("Place","Home")>News</a></li>
                                    @*<li><a href="./contact.html">Contact</a></li>*@
                                </ul>

                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()

    <footer class="footer-area" style="position:fixed;bottom:0;width:100%">
        @*<div class="main-footer-area">
                <div class="container">
                    <div class="row align-items-baseline justify-content-between">
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="single-footer-widget mb-80">
                                <a href="#" class="footer-logo">Team 404</a>

                                <h4>+61 415707891</h4>
                                <span>liubaiyang9@gmail.com</span>
                                <span>Monash University</span>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="single-footer-widget mb-80">
                                <h5 class="widget-title">Our Blog</h5>

                                <div class="latest-blog-area">
                                    <a href="#" class="post-title">Freelance Design Tricks How</a>
                                    <span class="post-date"><i class="fa fa-clock-o" aria-hidden="true"></i> Jan 02, 2019</span>
                                </div>

                                <div class="latest-blog-area">
                                    <a href="#" class="post-title">Free Advertising For Your Online</a>
                                    <span class="post-date"><i class="fa fa-clock-o" aria-hidden="true"></i> Jan 02, 2019</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-4 col-lg-2">
                            <div class="single-footer-widget mb-80">
                                <h5 class="widget-title">Links</h5>

                                <ul class="footer-nav">
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> About Us</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Our Room</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Career</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> FAQs</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-12 col-sm-8 col-lg-4">
                            <div class="single-footer-widget mb-80">
                                <h5 class="widget-title">Subscribe Newsletter</h5>
                                <span>Subscribe our newsletter gor get notification about new updates.</span>

                                <form action="index.html" class="nl-form">
                                    <input type="email" class="form-control" placeholder="Enter your email...">
                                    <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

        <div class="container">
            <div class="copywrite-content">
                <div class="row align-items-center">
                    <div class="col-12 col-md-8">
                        <div class="copywrite-text">
                            <p>
                                @*Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with Team 404</a>*@
                                Disclaimer : The data used on this website is not updated frequently. Some of the recommendations can be out of date.
                            </p>
                        </div>
                    </div>
                    @*<div class="col-12 col-md-4">
                            <div class="social-info">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="/Scripts/jquery.min.js"></script>
    <script src="/Scripts/popper.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/roberto.bundle.js"></script>
    <script src="/Scripts/default-assets/active.js"></script>
    <script src="/Scripts/jquery-3.3.1.min.js"></script>
    <script src="/Scripts/jquery-migrate-3.0.1.min.js"></script>
    <script src="/Scripts/jquery-ui.js"></script>
    <script src="/Scripts/popper.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/owl.carousel.min.js"></script>
    <script src="/Scripts/jquery.stellar.min.js"></script>
    <script src="/Scripts/jquery.countdown.min.js"></script>
    <script src="/Scripts/jquery.magnific-popup.min.js"></script>
    <script src="/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="/Scripts/aos.js"></script>

    <script src="/Scripts/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
